<p-toolbar>
	<div class="menu p-toolbar-group-left" (click)="callSideBar()">
		<i class="pi pi-bars" style="font-size: 1.5rem"></i>
	</div>

	<div class="p-toolbar-group-center">
		{{ title }}
	</div>

	<div class="p-toolbar-group-right social-links">
		<a href="https://www.instagram.com/lucas_demoraesc/" target="_blank">
			<i class="fab fa-instagram p-mr-2 p-mb-2"></i>
		</a>
		<a href="https://www.linkedin.com/in/lucas-demoraesc/" target="_blank">
			<i class="fab fa-linkedin p-mr-2 p-mb-2"></i>
		</a>
		<a href="https://github.com/lucasdemoraesc" target="_blank">
			<i class="fab fa-github p-mr-2 p-mb-2"></i>
		</a>
	</div>
</p-toolbar>