<nav *ngIf="hour >= 6 && hour < 12" class="p-d-flex p-flex-column">
	<img src="assets/img/morning.svg" alt="Imagem de bom dia" class="centralizar">
	<h1>{{ message.slip.advice }}</h1>
</nav>
<nav *ngIf="hour >= 12 && hour < 18" class="p-d-flex p-flex-column">
	<img src="assets/img/evening.svg" alt="Imagem de boa tarde">
	<h1>{{ message.slip.advice }}</h1>
</nav>
<nav *ngIf="(hour >= 18 && hour <= 23) || (hour >= 0 && hour < 6)" class="p-d-flex p-flex-column">
	<img src="assets/img/night.svg" alt="Imagem de boa noite">
	<h1>{{ message.slip.advice }}</h1>
</nav>