<p-fieldset legend="Procurar" [toggleable]="true">
	<div class="p-fluid p-formgrid p-grid">

		<div class="p-field p-col-12 p-md-6">
			<label>Descrição </label>
			<input type="text" pInputText placeholder="Descrição do lançamento" />
		</div>
		<div class="p-field p-col-12 p-md-3">
			<label>Vencimento de </label>
			<p-calendar dateFormat="dd/mm/yy" [showIcon]="false" placeholder="dd/mm/aaaa" [touchUI]="true"></p-calendar>
		</div>
		<div class="p-field p-col-12 p-md-3">
			<label>Até </label>
			<p-calendar dateFormat="dd/mm/yy" [showIcon]="false" placeholder="dd/mm/aaaa" [touchUI]="true"></p-calendar>
		</div>
		<div class="p-field p-col-12 p-md-10"></div>
		<div class="p-field p-col-12 p-md-2">
			<button pButton label="Procurar" type="submit" icon="pi pi-search"></button>
		</div>
	</div>
</p-fieldset>