<div class="container">
	<form class="p-fluid p-formgrid p-grid" autocomplete="off">
		<div class="p-field p-col-12">
			<h1>Nova Pessoa</h1>
		</div>

		<div class="p-field p-col-12 p-md-12">
			<label>Nome</label>
			<input pInputText type="text">
		</div>
		<div class="p-field p-col-12 p-md-9">
			<label>Logradouro</label>
			<input pInputText type="text">
		</div>
		<div class="p-field p-col-12 p-md-3">
			<label>Número</label>
			<p-inputNumber></p-inputNumber>
		</div>
		<div class="p-field p-col-12 p-md-4">
			<label>Complemento</label>
			<input pInputText type="text">
		</div>
		<div class="p-field p-col-12 p-md-4">
			<label>Bairro</label>
			<input pInputText type="text">
		</div>
		<div class="p-field p-col-12 p-md-4">
			<label>CEP</label>
			<p-inputMask mask="99999-999"></p-inputMask>
		</div>
		<div class="p-field p-col-12 p-md-6">
			<label>Cidade</label>
			<input pInputText type="text">
		</div>
		<div class="p-field p-col-12 p-md-6">
			<label>Estado</label>
			<input pInputText type="text">
		</div>

		<div class="p-field p-col-12 p-md-1">
			<button pButton label="Salvar" type="submit"></button>
		</div>
		<div class="p-field p-col-12 p-md-1">
			<button pButton label="Novo" type="submit" class="p-button-info"></button>
		</div>
		<div class="p-field p-col-12 p-md-6" class="link">
			<a href="javascript:;">Voltar para a pesquisa</a>
		</div>
	</form>
</div>