/* You can add global styles to this file, and also import other style files */

body {
	background-color: #17212F;
	color: #E2E2E5;
	font-family: Helvetica,Verdana,Arial,sans-serif;
}

a:link {
	color: #5DC8F9;
	text-decoration: none;
}

a:hover {
	color: #43A5F4;
	text-decoration: underline;
}

a:active {
	color: #4381f4;
	text-decoration: underline;
}